<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6" >

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Inventory System</h1>
      <p class="lead">Inventory managment system designed to handle all your inventory items,
         transactions and mange stock in the company.</p>
    </div>

  </div>
  <div class="col-sm-3"></div>
</div>


<div class="row text-center"  >
  

    <div class="col-sm-1"></div>

    <div class="col-sm-3  body-color " >
      
      <div class="card-body">
       
        <button type="button" class="btn btn-lg btn-block btn-primary"  >Add Item</button>
      </div>
    </div>

    <div class="col-sm-4 body-color ">
     
      <div class="card-body">
        
        <button type="button" class="btn btn-lg btn-block btn-primary" (click) = "OpenStockClick()">Add Open Stock</button>
      </div>
    </div>

    <div class="col-sm-3 body-color">
      
      <div class="card-body">
        
        <button type="button" class="btn btn-lg btn-block btn-primary">Add Transactons</button>
      </div>
    </div>

    <div class="col-sm-1"></div>


  


</div>

<div class="row text-center"  >
  

  <div class="col-sm-1"></div>

  <div class="col-sm-3  body-color " >
    
    <div class="card-body">
     
      <!-- <button type="button" class="btn btn-lg btn-block btn-primary"  >Add Item</button> -->
    </div>
  </div>

  <div class="col-sm-4 body-color ">
   
    <div class="card-body">
      
      <button type="button" class="btn btn-lg btn-block btn-primary" (click) = "ReportClick()">Generate Reports</button>
    </div>
  </div>

  <div class="col-sm-3 body-color">
    
    <div class="card-body">
      
      <!-- <button type="button" class="btn btn-lg btn-block btn-primary">Add Transactons</button> -->
    </div>
  </div>

  <div class="col-sm-1"></div>





</div>
<div class="body-color">

</div>